src/test/java/eo.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="eo" targetNamespace="eo"
	xmlns:la="http://lightair.sourceforge.net/">
	<xsd:import namespace="http://lightair.sourceforge.net/" schemaLocation="light-air-types.xsd" />
	<xsd:element name="archiv_zmen_rc" type="archiv_zmen_rc__type" />
	<xsd:element name="doklad" type="doklad__type" />
	<xsd:element name="dorucovaci_adresa" type="dorucovaci_adresa__type" />
	<xsd:element name="dorucovaci_adresa_hist" type="dorucovaci_adresa_hist__type" />
	<xsd:element name="duvod_prideleni_rc" type="duvod_prideleni_rc__type" />
	<xsd:element name="iszr_davka" type="iszr_davka__type" />
	<xsd:element name="iszr_notifikace" type="iszr_notifikace__type" />
	<xsd:element name="iszr_notifikace_chyba" type="iszr_notifikace_chyba__type" />
	<xsd:element name="napomoc" type="napomoc__type" />
	<xsd:element name="napomoc_hist" type="napomoc_hist__type" />
	<xsd:element name="nepridelene_rc_parametr" type="nepridelene_rc_parametr__type" />
	<xsd:element name="nepridelene_rc_upozorneni" type="nepridelene_rc_upozorneni__type" />
	<xsd:element name="nezvestnost" type="nezvestnost__type" />
	<xsd:element name="nezvestnost_hist" type="nezvestnost_hist__type" />
	<xsd:element name="obcanstvi" type="obcanstvi__type" />
	<xsd:element name="obcanstvi_hist" type="obcanstvi_hist__type" />
	<xsd:element name="obyvatel" type="obyvatel__type" />
	<xsd:element name="obyvatel_hist" type="obyvatel_hist__type" />
	<xsd:element name="obyvatel_stav" type="obyvatel_stav__type" />
	<xsd:element name="odlozena_zmena" type="odlozena_zmena__type" />
	<xsd:element name="opatrovnik" type="opatrovnik__type" />
	<xsd:element name="opatrovnik_hist" type="opatrovnik_hist__type" />
	<xsd:element name="osvojeni" type="osvojeni__type" />
	<xsd:element name="osvojeni_hist" type="osvojeni_hist__type" />
	<xsd:element name="osvojeni_zletileho" type="osvojeni_zletileho__type" />
	<xsd:element name="osvojeni_zletileho_hist" type="osvojeni_zletileho_hist__type" />
	<xsd:element name="poznamka" type="poznamka__type" />
	<xsd:element name="poznamka_hist" type="poznamka_hist__type" />
	<xsd:element name="poznamka_rc" type="poznamka_rc__type" />
	<xsd:element name="predchozi_adresa" type="predchozi_adresa__type" />
	<xsd:element name="predchozi_aifo" type="predchozi_aifo__type" />
	<xsd:element name="predchozi_dn_du" type="predchozi_dn_du__type" />
	<xsd:element name="predchozi_jm_pr" type="predchozi_jm_pr__type" />
	<xsd:element name="predchozi_mn_mu" type="predchozi_mn_mu__type" />
	<xsd:element name="predchozi_pohlavi" type="predchozi_pohlavi__type" />
	<xsd:element name="predchozi_rc" type="predchozi_rc__type" />
	<xsd:element name="predchozi_rod_stav" type="predchozi_rod_stav__type" />
	<xsd:element name="predchozi_rodic" type="predchozi_rodic__type" />
	<xsd:element name="prohlaseni_za_mrtveho" type="prohlaseni_za_mrtveho__type" />
	<xsd:element name="prohlaseni_za_mrtveho_hist" type="prohlaseni_za_mrtveho_hist__type" />
	<xsd:element name="reklamace" type="reklamace__type" />
	<xsd:element name="reklamace_rc" type="reklamace_rc__type" />
	<xsd:element name="reklamovany_udaj" type="reklamovany_udaj__type" />
	<xsd:element name="reklamovany_udaj_rc" type="reklamovany_udaj_rc__type" />
	<xsd:element name="rob_akt" type="rob_akt__type" />
	<xsd:element name="rob_akt_data" type="rob_akt_data__type" />
	<xsd:element name="rob_akt_data_hist" type="rob_akt_data_hist__type" />
	<xsd:element name="rob_akt_hist" type="rob_akt_hist__type" />
	<xsd:element name="rob_blacklist" type="rob_blacklist__type" />
	<xsd:element name="rob_validacni_pravidla" type="rob_validacni_pravidla__type" />
	<xsd:element name="rodinny_stav" type="rodinny_stav__type" />
	<xsd:element name="rodne_cislo" type="rodne_cislo__type" />
	<xsd:element name="rodne_cislo_puv" type="rodne_cislo_puv__type" />
	<xsd:element name="rodne_cislo_stav" type="rodne_cislo_stav__type" />
	<xsd:element name="rpp_akt_data" type="rpp_akt_data__type" />
	<xsd:element name="slouceni" type="slouceni__type" />
	<xsd:element name="slouceni_rc" type="slouceni_rc__type" />
	<xsd:element name="svazek" type="svazek__type" />
	<xsd:element name="svazek_hist" type="svazek_hist__type" />
	<xsd:element name="svepravnost" type="svepravnost__type" />
	<xsd:element name="svepravnost_hist" type="svepravnost_hist__type" />
	<xsd:element name="typ_zmeny_rc" type="typ_zmeny_rc__type" />
	<xsd:element name="uzivane_rc" type="uzivane_rc__type" />
	<xsd:element name="verze" type="verze__type" />
	<xsd:element name="vydej_dat" type="vydej_dat__type" />
	<xsd:element name="vydej_kriteria" type="vydej_kriteria__type" />
	<xsd:element name="vydej_soubor" type="vydej_soubor__type" />
	<xsd:element name="vydejove_misto_rc" type="vydejove_misto_rc__type" />
	<xsd:element name="vyrizeni_reklamace" type="vyrizeni_reklamace__type" />
	<xsd:element name="zadost_poskytnuti" type="zadost_poskytnuti__type" />
	<xsd:element name="zadost_poskytnuti_polozka" type="zadost_poskytnuti_polozka__type" />
	<xsd:element name="zakaz_pobytu" type="zakaz_pobytu__type" />
	<xsd:element name="zakaz_pobytu_hist" type="zakaz_pobytu_hist__type" />
	<xsd:element name="zasobnik_aifo" type="zasobnik_aifo__type" />
	<xsd:element name="zastoupeni" type="zastoupeni__type" />
	<xsd:element name="zastoupeni_hist" type="zastoupeni_hist__type" />
	<xsd:element name="zastupce" type="zastupce__type" />
	<xsd:element name="zastupce_hist" type="zastupce_hist__type" />
	<xsd:complexType name="archiv_zmen_rc__type">
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="login" use="optional" type="la:ColumnType" />
		<xsd:attribute name="polozka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="puvodni_hodnota" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="vydejove_misto_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="doklad__type">
		<xsd:attribute name="cislo_jednaci" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_narozeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="doklad" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="nazev" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obcanstvi" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pohlavi" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pripona" use="optional" type="la:ColumnType" />
		<xsd:attribute name="r_prijmeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo_id_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ_dokladu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="vydal" use="optional" type="la:ColumnType" />
		<xsd:attribute name="vydany" use="optional" type="la:ColumnType" />
		<xsd:attribute name="vydejove_misto_id" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="dorucovaci_adresa__type">
		<xsd:attribute name="adresa_kod" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="text" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zapsano_do_rob" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="dorucovaci_adresa_hist__type">
		<xsd:attribute name="adresa_kod" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="text" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zapsano_do_rob" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="duvod_prideleni_rc__type">
		<xsd:attribute name="kod" use="optional" type="la:ColumnType" />
		<xsd:attribute name="text" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="iszr_davka__type">
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="popis" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="system" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zmena_datum_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zmena_datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zmena_id" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="iszr_notifikace__type">
		<xsd:attribute name="data" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="notifikace_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="system" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="iszr_notifikace_chyba__type">
		<xsd:attribute name="data" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="notifikace_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="popis" use="optional" type="la:ColumnType" />
		<xsd:attribute name="system" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="napomoc__type">
		<xsd:attribute name="datum_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_do_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="soud" use="optional" type="la:ColumnType" />
		<xsd:attribute name="soud_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="napomoc_hist__type">
		<xsd:attribute name="datum_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_do_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="soud" use="optional" type="la:ColumnType" />
		<xsd:attribute name="soud_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="nepridelene_rc_parametr__type">
		<xsd:attribute name="datum_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pohlavi" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="nepridelene_rc_upozorneni__type">
		<xsd:attribute name="datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pocet" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pohlavi" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="nezvestnost__type">
		<xsd:attribute name="datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="nezvestnost_hist__type">
		<xsd:attribute name="datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="obcanstvi__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stat_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="obcanstvi_hist__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stat_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="obyvatel__type">
		<xsd:attribute name="adresa_pobytu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="adresa_pobytu_druh" use="optional" type="la:ColumnType" />
		<xsd:attribute name="aifo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="aifo_kontrola" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_narozeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_umrti" use="optional" type="la:ColumnType" />
		<xsd:attribute name="druh" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno" use="optional" type="la:ColumnType" />
		<xsd:attribute name="matka_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_cr_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_cr_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_svet_misto" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_svet_stat" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_cr_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_cr_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_svet_misto" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_svet_stat" use="optional" type="la:ColumnType" />
		<xsd:attribute name="otec_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="platnost" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pohlavi" use="optional" type="la:ColumnType" />
		<xsd:attribute name="posledni_zmena" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="r_prijmeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodinny_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="obyvatel_hist__type">
		<xsd:attribute name="datum_narozeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="druh" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="r_prijmeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="obyvatel_stav__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="polozka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="odlozena_zmena__type">
		<xsd:attribute name="rodne_cislo1_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="opatrovnik__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ico" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ico_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="nazev" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="opatrovanec_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="sidlo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="svepravnost_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="opatrovnik_hist__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ico" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ico_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="nazev" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="opatrovanec_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="sidlo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="svepravnost_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="osvojeni__type">
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno_nove" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno_nove_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno_puvodni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno_puvodni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="matka_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="matka_id_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="osvojitel1_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="osvojitel1_id_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="osvojitel2_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="osvojitel2_id_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="otec_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="otec_id_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni_nove" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni_nove_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni_puvodni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni_puvodni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_nove" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_nove_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_puvodni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_puvodni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti_datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zmena_nezrusitelne_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zmena_nezrusitelne_datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_osvojitel_1_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_osvojitel_1_datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_osvojitel_2_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_osvojitel_2_datum_stav" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="osvojeni_hist__type">
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno_nove" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno_nove_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno_puvodni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno_puvodni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="matka_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="matka_id_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="osvojitel1_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="osvojitel1_id_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="osvojitel2_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="osvojitel2_id_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="otec_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="otec_id_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni_nove" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni_nove_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni_puvodni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni_puvodni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_nove" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_nove_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_puvodni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_puvodni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti_datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zmena_nezrusitelne_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zmena_nezrusitelne_datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_osvojitel_1_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_osvojitel_1_datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_osvojitel_2_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_osvojitel_2_datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="osvojeni_zletileho__type">
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="osvojitel1_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="osvojitel1_id_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_nove" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_nove_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_puvodni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_puvodni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti_datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_osvojitel_1_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_osvojitel_1_datum_stav" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="osvojeni_zletileho_hist__type">
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="osvojitel1_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="osvojitel1_id_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_nove" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_nove_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_puvodni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rc_puvodni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti_datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_osvojitel_1_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_osvojitel_1_datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="poznamka__type">
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="polozka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="poznamka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="poznamka_hist__type">
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="polozka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="poznamka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="poznamka_rc__type">
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="poznamka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="predchozi_adresa__type">
		<xsd:attribute name="adresa_pobytu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="adresa_pobytu_druh" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="predchozi_aifo__type">
		<xsd:attribute name="aifo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="druh" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="platnost" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="predchozi_dn_du__type">
		<xsd:attribute name="datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ_zaznamu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="predchozi_jm_pr__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="hodnota" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ_zaznamu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="predchozi_mn_mu__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_cr_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_cr_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_svet_misto" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_svet_stat" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ_zaznamu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="predchozi_pohlavi__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pohlavi" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="predchozi_rc__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="predchozi_rod_stav__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodinny_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="predchozi_rodic__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodic_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ_rodice" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="prohlaseni_za_mrtveho__type">
		<xsd:attribute name="datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="prohlaseni_za_mrtveho_hist__type">
		<xsd:attribute name="datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="reklamace__type">
		<xsd:attribute name="cislo_jednaci" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datova_schranka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_prijeti" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_vyrizeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_zapisu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="identifikator_iszr" use="optional" type="la:ColumnType" />
		<xsd:attribute name="kod_agendy" use="optional" type="la:ColumnType" />
		<xsd:attribute name="kod_ais" use="optional" type="la:ColumnType" />
		<xsd:attribute name="login" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="popis" use="optional" type="la:ColumnType" />
		<xsd:attribute name="reklamace_kam" use="optional" type="la:ColumnType" />
		<xsd:attribute name="reklamuje_kdo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="subjekt" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze" use="optional" type="la:ColumnType" />
		<xsd:attribute name="vyrizeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zduvodneni" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="reklamace_rc__type">
		<xsd:attribute name="cislo_jednaci" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datova_schranka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_prijeti" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_vyrizeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_zapisu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="identifikator_iszr" use="optional" type="la:ColumnType" />
		<xsd:attribute name="kod_agendy" use="optional" type="la:ColumnType" />
		<xsd:attribute name="kod_ais" use="optional" type="la:ColumnType" />
		<xsd:attribute name="login" use="optional" type="la:ColumnType" />
		<xsd:attribute name="popis" use="optional" type="la:ColumnType" />
		<xsd:attribute name="reklamace_kam" use="optional" type="la:ColumnType" />
		<xsd:attribute name="reklamuje_kdo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="subjekt" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze" use="optional" type="la:ColumnType" />
		<xsd:attribute name="vyrizeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zduvodneni" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="reklamovany_udaj__type">
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="polozka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pozadovana_hodnota" use="optional" type="la:ColumnType" />
		<xsd:attribute name="reklamace_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="reklamovana_hodnota" use="optional" type="la:ColumnType" />
		<xsd:attribute name="udaj_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="vysledna_hodnota" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="reklamovany_udaj_rc__type">
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="polozka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pozadovana_hodnota" use="optional" type="la:ColumnType" />
		<xsd:attribute name="reklamace_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="reklamovana_hodnota" use="optional" type="la:ColumnType" />
		<xsd:attribute name="vysledna_hodnota" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="rob_akt__type">
		<xsd:attribute name="ais_kontrola" use="optional" type="la:ColumnType" />
		<xsd:attribute name="duvod_a_ucel" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="iszr_zadost_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="odeslano_poprve" use="optional" type="la:ColumnType" />
		<xsd:attribute name="odeslano_posledni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="odpoved" use="optional" type="la:ColumnType" />
		<xsd:attribute name="operace" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pocet_pokusu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rob_akt_data_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav_zpracovani" use="optional" type="la:ColumnType" />
		<xsd:attribute name="subjekt" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uzivatel" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uzivatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zadost_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zavedeno" use="optional" type="la:ColumnType" />
		<xsd:attribute name="znepristupneni" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="rob_akt_data__type">
		<xsd:attribute name="adresa_pobytu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="adresa_pobytu_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="aifo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="aifo_kontrola" use="optional" type="la:ColumnType" />
		<xsd:attribute name="aifo_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_narozeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_narozeni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_umrti" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_umrti_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="doklad_druh" use="optional" type="la:ColumnType" />
		<xsd:attribute name="doklad_novy" use="optional" type="la:ColumnType" />
		<xsd:attribute name="doklad_puvodni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="doklad_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="dorucovaci_adresa" use="optional" type="la:ColumnType" />
		<xsd:attribute name="dorucovaci_adresa_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="dorucovaci_adresa_text" use="optional" type="la:ColumnType" />
		<xsd:attribute name="dorucovaci_adresa_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_cr_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_cr_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_svet_misto" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_svet_stat" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_cr_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_cr_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_svet_misto" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_svet_stat" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obcanstvi_nove" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obcanstvi_puvodni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obcanstvi_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prohl_mrtv_datum_pm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prohl_mrtv_datum_pm_stav" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="rob_akt_data_hist__type">
		<xsd:attribute name="adresa_pobytu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="adresa_pobytu_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="aifo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="aifo_kontrola" use="optional" type="la:ColumnType" />
		<xsd:attribute name="aifo_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_narozeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_narozeni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_umrti" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_umrti_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="doklad_druh" use="optional" type="la:ColumnType" />
		<xsd:attribute name="doklad_novy" use="optional" type="la:ColumnType" />
		<xsd:attribute name="doklad_puvodni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="doklad_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="dorucovaci_adresa" use="optional" type="la:ColumnType" />
		<xsd:attribute name="dorucovaci_adresa_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="dorucovaci_adresa_text" use="optional" type="la:ColumnType" />
		<xsd:attribute name="dorucovaci_adresa_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_cr_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_cr_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_svet_misto" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_svet_stat" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_cr_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_cr_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_svet_misto" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_umrti_svet_stat" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obcanstvi_nove" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obcanstvi_puvodni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obcanstvi_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prohl_mrtv_datum_pm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prohl_mrtv_datum_pm_stav" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="rob_akt_hist__type">
		<xsd:attribute name="ais_kontrola" use="optional" type="la:ColumnType" />
		<xsd:attribute name="duvod_a_ucel" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="iszr_zadost_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="odeslano_poprve" use="optional" type="la:ColumnType" />
		<xsd:attribute name="odeslano_posledni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="odpoved" use="optional" type="la:ColumnType" />
		<xsd:attribute name="operace" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pocet_pokusu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rob_akt_data_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav_zpracovani" use="optional" type="la:ColumnType" />
		<xsd:attribute name="subjekt" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uzivatel" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uzivatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zadost_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zavedeno" use="optional" type="la:ColumnType" />
		<xsd:attribute name="znepristupneni" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="rob_blacklist__type">
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="text" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="rob_validacni_pravidla__type">
		<xsd:attribute name="kod" use="optional" type="la:ColumnType" />
		<xsd:attribute name="text" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="rodinny_stav__type">
		<xsd:attribute name="kod" use="optional" type="la:ColumnType" />
		<xsd:attribute name="text_f" use="optional" type="la:ColumnType" />
		<xsd:attribute name="text_m" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="rodne_cislo__type">
		<xsd:attribute name="aifo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="aifo_kontrola" use="optional" type="la:ColumnType" />
		<xsd:attribute name="blokace" use="optional" type="la:ColumnType" />
		<xsd:attribute name="cislo_jednaci" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_narozeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_narozeni_text" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_prideleni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="duvod_prideleni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="jmeno" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_cr_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_cr_misto" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_cr_okres" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_cr_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_svet_misto" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_svet_stat" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_narozeni_svet_stat_txt" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pohlavi" use="optional" type="la:ColumnType" />
		<xsd:attribute name="posledni_zmena" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prijmeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="r_prijmeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="spravne" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav_rc" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze" use="optional" type="la:ColumnType" />
		<xsd:attribute name="vydejove_misto_id" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="rodne_cislo_puv__type">
		<xsd:attribute name="cislo_jednaci" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="duvod_prideleni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo_id_akt" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo_id_puv" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="rodne_cislo_stav__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="polozka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozpor" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="rpp_akt_data__type">
		<xsd:attribute name="aifo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="cislo_pravniho_predpisu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_nabyti_pravni_moci" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="kod_agendy" use="optional" type="la:ColumnType" />
		<xsd:attribute name="kod_ovm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="nazev_pravniho_predpisu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="odstavec_ustanoveni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="paragraf_ustanoveni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pismeno_ustanoveni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pravo_povinnost" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rok_pravniho_predpisu" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="slouceni__type">
		<xsd:attribute name="obyvatel1_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel2_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="slouceni_rc__type">
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo1_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="svazek__type">
		<xsd:attribute name="datum_uzavreni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_uzavreni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="druh" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_uzavreni_cr_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_uzavreni_cr_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_uzavreni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_uzavreni_svet_misto" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_uzavreni_svet_stat" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel1_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel2_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prohlaseni_za_mrtveho_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prohlaseni_za_mrtveho_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zanik_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zanik_datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zanik_druh" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zanik_druh_stav" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="svazek_hist__type">
		<xsd:attribute name="datum_uzavreni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_uzavreni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="druh" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_uzavreni_cr_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_uzavreni_cr_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_uzavreni_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_uzavreni_svet_misto" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_uzavreni_svet_stat" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel1_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel2_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prohlaseni_za_mrtveho_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="prohlaseni_za_mrtveho_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zanik_datum" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zanik_datum_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zanik_druh" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zanik_druh_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="svepravnost__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="svepravnost" use="optional" type="la:ColumnType" />
		<xsd:attribute name="text_omezeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_omezeni_od" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="svepravnost_hist__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="svepravnost" use="optional" type="la:ColumnType" />
		<xsd:attribute name="text_omezeni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseni_omezeni_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="typ_zmeny_rc__type">
		<xsd:attribute name="kod" use="optional" type="la:ColumnType" />
		<xsd:attribute name="text" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="uzivane_rc__type">
		<xsd:attribute name="datum_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rodne_cislo_id_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="text" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="verze__type">
		<xsd:attribute name="cas_sestaveni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="data_popis" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze_aplikace" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze_dat" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="vydej_dat__type">
		<xsd:attribute name="agendova_role" use="optional" type="la:ColumnType" />
		<xsd:attribute name="cas_snimku_data" use="optional" type="la:ColumnType" />
		<xsd:attribute name="cas_snimku_ruian" use="optional" type="la:ColumnType" />
		<xsd:attribute name="cas_zadosti" use="optional" type="la:ColumnType" />
		<xsd:attribute name="duvod_a_ucel" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_den_vstup" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_den_vystup" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_odpovedi_reg" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_pozadavku_agendy" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_pozadavku_iszr" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_vydej" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_zadost_vstup" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_zadost_vystup" use="optional" type="la:ColumnType" />
		<xsd:attribute name="kod_agendy" use="optional" type="la:ColumnType" />
		<xsd:attribute name="kod_ais" use="optional" type="la:ColumnType" />
		<xsd:attribute name="kod_ovm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="kod_uzemniho_celku" use="optional" type="la:ColumnType" />
		<xsd:attribute name="nazev_vydeje" use="optional" type="la:ColumnType" />
		<xsd:attribute name="popis_chyby" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="subjekt" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts_vystup" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ_uzemniho_celku" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uzivatel" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zadost_udaje" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zadost_udaje_min" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zpracovano" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="vydej_kriteria__type">
		<xsd:attribute name="hodnota" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_kriteria" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_vydej" use="optional" type="la:ColumnType" />
		<xsd:attribute name="nazev" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="vydej_soubor__type">
		<xsd:attribute name="crypt" use="optional" type="la:ColumnType" />
		<xsd:attribute name="dostupny_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="dostupny_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="hlavicka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_soubor" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_vydej" use="optional" type="la:ColumnType" />
		<xsd:attribute name="otisk" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ_io" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ucel" use="optional" type="la:ColumnType" />
		<xsd:attribute name="url" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uuid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="vydejove_misto_rc__type">
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="kod" use="optional" type="la:ColumnType" />
		<xsd:attribute name="kod_ruian" use="optional" type="la:ColumnType" />
		<xsd:attribute name="kod_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="plati" use="optional" type="la:ColumnType" />
		<xsd:attribute name="pracoviste" use="optional" type="la:ColumnType" />
		<xsd:attribute name="txt" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zkratka" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="vyrizeni_reklamace__type">
		<xsd:attribute name="cislo_jednaci" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze" use="optional" type="la:ColumnType" />
		<xsd:attribute name="vyjadreni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="vyrizoval_kdo" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="zadost_poskytnuti__type">
		<xsd:attribute name="adresa_doruceni_kod" use="optional" type="la:ColumnType" />
		<xsd:attribute name="adresa_doruceni_text" use="optional" type="la:ColumnType" />
		<xsd:attribute name="adresa_doruceni_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="cislo_jednaci" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ovm_zkratka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="tp_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts_vyridil" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts_zalozil" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid_vyridil" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid_zalozil" use="optional" type="la:ColumnType" />
		<xsd:attribute name="verze" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zadatel" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="zadost_poskytnuti_polozka__type">
		<xsd:attribute name="historicke" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="polozka" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zadost_poskytnuti_id" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="zakaz_pobytu__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti_soudu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uzemni_prvek_kod" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uzemni_prvek_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uzemni_prvek_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zakaz_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zakaz_do_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zakaz_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zakaz_od_stav" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="zakaz_pobytu_hist__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto" use="optional" type="la:ColumnType" />
		<xsd:attribute name="misto_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti_soudu" use="optional" type="la:ColumnType" />
		<xsd:attribute name="rozhodnuti_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uzemni_prvek_kod" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uzemni_prvek_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uzemni_prvek_typ" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zakaz_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zakaz_do_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zakaz_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zakaz_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="zasobnik_aifo__type">
		<xsd:attribute name="aifo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="zastoupeni__type">
		<xsd:attribute name="datum_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_do_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="soud" use="optional" type="la:ColumnType" />
		<xsd:attribute name="soud_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="zastoupeni_hist__type">
		<xsd:attribute name="datum_do" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_do_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="soud" use="optional" type="la:ColumnType" />
		<xsd:attribute name="soud_stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="zastupce__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="fyzicka_osoba" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ico" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="nazev" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="sidlo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
	<xsd:complexType name="zastupce_hist__type">
		<xsd:attribute name="datum_od" use="optional" type="la:ColumnType" />
		<xsd:attribute name="datum_od_fiktivni" use="optional" type="la:ColumnType" />
		<xsd:attribute name="fyzicka_osoba" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ico" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="id_hist" use="optional" type="la:ColumnType" />
		<xsd:attribute name="nazev" use="optional" type="la:ColumnType" />
		<xsd:attribute name="obyvatel_id" use="optional" type="la:ColumnType" />
		<xsd:attribute name="sidlo" use="optional" type="la:ColumnType" />
		<xsd:attribute name="stav" use="optional" type="la:ColumnType" />
		<xsd:attribute name="ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="typzm" use="optional" type="la:ColumnType" />
		<xsd:attribute name="uid" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_ts" use="optional" type="la:ColumnType" />
		<xsd:attribute name="zruseno_uid" use="optional" type="la:ColumnType" />
	</xsd:complexType>
</xsd:schema>
